<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
    <link rel="stylesheet" href="/static/css/all-products.css">
</head>

<body>
    <header>
        <nav class="navigation__bar">
            <a class="nav__link" href="/all-products">Все товары</a>
            <a class="nav__link" href="/cart">Корзина</a>
            <a class="nav__link" href="/profile">Профиль</a>
        </nav>
    </header>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>

    <h1>Все товары</h1>
    <h2 class="header__account">Аккаунта нет</h2>
    <div class="content" style="display: flex; flex-wrap: wrap">

    </div>
    <script type="text/javascript" src="/static/js/all_products.js"></script>


</body>
</html>